header.header
    .container
        .header__top
            a(href='#').header__logo
                img(src='./img/logo.png').desk
                img(src='./img/logo-mob.png').mob
            a(href='#').header__signup Sign up
        .header__info
            .header__cashback
                p.percent 45%*
                p cashback
                .header__cashback__fs
                    p +30FS
        a(href='#').header__info__btn Sing Up Now

        .header__steps
            .header__step
                .header__step__content
                    .header__step__icon
                        img(src='./img/step1.png')
                    .header__step__info
                        .header__step__title Make Deposit
                    .header__step__number Step 1
            .header__separator
                img(src='./img/separator.png')
            .header__step
                .header__step__content
                    .header__step__icon
                        img(src='./img/step2.png')
                    .header__step__info
                        .header__step__title Play & Win
                        .header__step__description in 6000 games
                    .header__step__number Step 2
            .header__separator
                img(src='./img/separator.png')
            .header__step
                .header__step__content
                    .header__step__icon
                        img(src='./img/step3.png')
                    .header__step__info
                        .header__step__title get your
                            p 45%* cashback
                    .header__step__number Step 3
ul.bonuses
    .gift-coin
        img(src='./img/gift_coin.png')
    .container
        li.bonuses__item Up to 20% rakeback
        li.bonuses__item Level Up bonuses up to 2000 Eur
        li.bonuses__item Highest withdrawal limits
        li.bonuses__item Instant deposint and payouts
.bottom
    .payments
        img(src='./img/payments.png')
        a(href='#').payments__btn Sing Up
    .games
        .games__title Over 6000 games available!
        .games__cards
            .games__card
                .games__card__img
                    img(src='./img/slots.png')
                .games__card__title Favourite Slots
                a(href='#').games__card__btn Play Now
            .games__card
                .games__card__img
                    img(src='./img/casino.png')
                .games__card__title Live Casino
                a(href='#').games__card__btn Play Now
            .games__card
                .games__card__img
                    img(src='./img/games.png')
                .games__card__title Jackpot games
                a(href='#').games__card__btn Play Now
    .money-coin
        img(src='./img/money_coin.png')
    .gift-bottom-coin
        img(src='./img/gift_coin.png')
    .percent-coin
        img(src='./img/percent_coin.png')
footer.footer
    .footer__container
        .footer__left
            a(href='#').footer__logo
                img(src='./img/logo.png')
            p © JustBit 2023
        a(href='#').footer__signup Sign Up








